R00.dtd

<!ELEMENT los ANY>
<!ELEMENT a ANY>
<!ELEMENT table ANY>
<!ELEMENT code ANY>
<!ELEMENT i ANY>
<!ELEMENT tr ANY>
<!ELEMENT td ANY>
<!ELEMENT step ANY>
<!ELEMENT weiter ANY>
<!ELEMENT favicon ANY>
<!ELEMENT DEMO ANY>
<!ELEMENT u ANY>
<!ELEMENT diff ANY>
<!ELEMENT pr ANY>
<!ELEMENT p ANY>
<!ELEMENT div ANY>
<!ELEMENT ptable ANY>
<!ELEMENT Terminal_1 ANY>
<!ELEMENT Tcl_Console ANY>
<!ELEMENT Terminal_2 ANY>
<!ELEMENT Terminal_3 ANY>
<!ELEMENT li ANY>
